@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans:wght@400;500;700&family=Open+Sans&family=Poppins:wght@400;700&family=Raleway&family=Roboto&display=swap');

:root{
  --primary:#AAB3E3;
  --primary2:#5667DD;
  --background:#2A2A2A;
  --back2:#272826;
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
  scroll-behavior: smooth;

}
html{
  scroll-behavior: smooth;

}
body{
  background: var(--background);
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: white;
}
/* Header */
main{
  padding-top: 70px;
    overflow-x: hidden;

}
header{
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  color: white;
  box-shadow: 0 4px 30px #0000001a;
  /* -webkit-backdrop-filter: blur(11.1px); */
  /* backdrop-filter: blur(17.1px); */
  /* border: 2px solid #2f2f2f5c; */
}
header::before{
  content:"";
  background: #2f2f2f5c;
  position:absolute;
  z-index:-1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.blur{
  /* background: #2f2f2fa8; */
  backdrop-filter: blur(17.1px);
  /* -webkit-backdrop-filter: blur(11.1px); */

}
.logo-name{

  display: flex;
  align-items: center ;
  justify-content: center;
  cursor: pointer;
}

.navLogo{
  border-radius: 20px;
  height: 50px;
  margin: 10px;
  margin-left: 50px;
  }
.center{
  width: auto;
}
.navbar{
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.navlinks{
  padding: 2px 3px;
transition: 0.5s;
border-bottom: 2px solid #ffffff01;
}
.active{
  border-bottom: 2px solid var(--primary2);

}
.hamburger{
display: none; 
}
.nl:hover{
  transition: 1s;
  border-bottom: 2px solid var(--primary2);
  
}
.learnMore:hover{
cursor: pointer;
}
.mailbtn{
  display: flex;
  justify-content: center;
  align-items: center;

}
.emailBtn{
  background-color: var(--primary2);
  border: none;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  transition: 0.5s;
  font-size: 1rem;
  padding: 10px 30px;
  color: var(--background);

  border-radius: 50px 0px 0px 50px;
}
.emailBtn:hover{
  cursor: pointer;
}
.copyBtn{
  border: 2px solid var(--primary2);
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  transition: 0.5s;

  font-size: 1rem;
  padding:  8px 15px 8px 12px;
  border-radius: 0px 50px 50px 0px;
  color: var(--primary2);
}
.copyBtn2{
  background-color: var(--primary2);
  border: none;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  transition: 0.5s;
  margin-left: 2px;
  font-size: 1rem;
  padding: 10px 20px;
  color: var(--background);
  border-radius: 0px 50px 50px 0px;

}
.copyBtn:hover{
cursor: pointer;
}


  /* Header */

/* Main */

/* Sec1 */
.sec1{
  height: 80vh;
  display: grid;
  grid-template-rows:100%;
  grid-template-columns:50% 50%;
}

.left1{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding-left: 100px;
  padding-right: 30px;
  color: white;
  text-align: start;
  font-family: 'Noto Sans', sans-serif;
    /* border: 4px solid red; */

}
.h1{
  font-weight: 900;
  font-size: 5rem;
  line-height: 5rem;
}
.h2{
  font-weight: 900;
  font-size: 3.1rem;
  line-height: 3.1rem;
}

.para{
  margin-top: 15px;
  padding: 1px 5px;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 100;
}
.btns{
  background-color: var(--primary2);
  border: none;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
  transition: 0.5s;

  font-size: 15px;
  padding: 7px 20px;
  border-radius: 50px;
margin-top: 15px;
  color: var(--background);
}
.btn1{
  background-color: var(--primary2);
  border: none;
  font-weight:900;
  font-family: 'Noto Sans', sans-serif;
  transition: 0.5s;

  font-size: 1.5rem;
  padding:15px 30px;
  border-radius: 50px;
margin-top: 29px;
  color: var(--background);
}
.right1{
  /* border: 4px solid green; */
  position: relative;
}
.banner{
  /* height: 900px;
  position: absolute;
  top: -110px;
  left: -100px; */
  height: 53vw;
  position: absolute;
  top: -6vw;
  left: -9vw;
  animation: zoominout 1.5s ease-out;
}
.bottomUp{
  animation: bottomUp 1.0s ease-out forwards;
}
@keyframes zoominout {
  0% {
    transform: translatey(20%);
    transform: scale(0.9);
    opacity: 0.1;
  }
  100%{
    opacity: 1;
    transform: scale(1);
    transform: translatey(0);
  }
}
@keyframes bottomUp {
  0% {
    transform: translatey(80%);
    opacity: 0.1; 
  }
  100%{
    opacity: 1;
    transform: translatey(0);
  }
}
/* sec1
 -------------------------
sec2 */
.sec2{
  height: 90vh;
  display: grid;
  grid-template-rows:100%;
  grid-template-columns:50% 50%;
}
.left2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.visible{
  visibility: visible;
}
.banner2{
  opacity: 0;
  height: 20rem;
}
.right2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  text-align: start;
  font-family: 'Noto Sans', sans-serif;
}
.right2 h2{
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.p{
  margin-top: 15px;
  font-size: 1.1rem;
}


/* sec2 */
/* sec3 */
.sec3{
  height: 90vh;
  display: grid;
  grid-template-rows:100%;
  grid-template-columns:50% 50%;
}
.left3{
display: flex;
align-items: center;
justify-content: center;
/* border: 4px solid green; */
}
.serviceList{
  color: white;
  height: 60%;
  /* border: 4px solid rgb(132, 238, 132); */
  padding:0px 90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content:space-around;

}
.serviceItem{
  /* padding-left: 10px; */
  /* padding-bottom: 13px; */
padding: 12px 25px;
  border-radius: 4px;
  background:#ffffff01;
  border: 4px solid #ffffff01;

/* From https://css.glass */
background: rgba(47, 47, 47, 0.66);
box-shadow: 0 1px 10px 10px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.1px);
-webkit-backdrop-filter: blur(11.1px);
border: 1px solid rgba(47, 47, 47, 0.62);
}
.serviceH{
  border-left: 4px solid var(--primary2);
}
.serviceItem:hover{
  cursor: pointer;
  
}
.serviceItem h2{
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
}
.serviceItem h4{
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
}


.right3{
  display: flex;
  align-items: center;
justify-content: center;
padding-right: 90px;

}
.banner3{
  opacity: 0;
  height: 20rem;
  /* height: auto; */
}
/* sec3 */
/* sec4 */
.sec4{

  width: 100vw; 
  overflow-x: scroll;
  /* white-space: nowrap; */
  
  display: flex;
    margin: 50px auto;
      -ms-overflow-style: none;
  scrollbar-width: none;

    overflow: hidden;
  }

  .in{
    visibility: hidden;
    width: 0%;
    max-height: 10px;
  }
  /* width */
  ::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000033; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary2); 
}
.testimonyCont{
  margin: 0px 50px ;
  padding: 1px 29px;
  border-radius: 10px;
  color: white;
  animation: scroll 35s linear infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* From https://css.glass */
background: #2f2f2fa8;
border-radius: 16px;
box-shadow: 0 4px 30px #0000001a;
backdrop-filter: blur(11.1px);
-webkit-backdrop-filter: blur(11.1px);
border: 1px solid #2f2f2f9e;
}
@keyframes scroll {
  0% {
      transform: translatex(0);
  }
  50% {
      transform: translatex(-360%);
  }
  100% {
      transform: translatex(0);
  }
}
  
.testimonyCont .rating{
  height: 11%;
  margin-bottom: 11px;
}
.testimonyCont:hover{
  cursor: pointer;
}
.uncopy{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.testiText p{

  
  color:white;
  font-weight: 200;
  text-align: center;
  font-size: 15px;
  line-height: 25px;
}
.testimonyUserDetails{
  margin: 20px 10px ;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.testimonyLeft{
  display: flex;
  align-items: center;
  justify-self: center; 
  /* border-right: 4px solid gray;  */
  border-radius: 2px;
  /* padding:0px 30px; */
  /* margin: 0px 30px; */
}
.profile{
  border-radius: 100px;
  /* height: 50px; */
  width: 50px;
}
.userDetails{
  padding: 0px 20px ;

}
.userName p{
  font-size: 20px;
  font-weight: bold;
}
.testimonyRight{
  display: flex;
  align-items: center;
  justify-self: center;  
}
.ytlogo{
  width: 50px;
}
/* .followers{
  padding-bottom: 5px ;
  font-size: 17px;
  font-weight: normal;
} */

/* sec4 */
/* sec5 */
.sec5{
  /* margin-top: 100px; */
  padding: 0px 90px;
height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: start;
    color: white;
}
.btn2{
  background-color:transparent;
  border: none;
  font-weight: bold;
  font-family: 'Noto Sans', sans-serif;
border: 2px solid var(--primary2);
font-size: 1rem;
padding: 10px 30px;
margin-left: 10px;
border-radius: 50px;
color:var(--primary2);
transition: 0.5s;
}
.btn2:hover {
  border: 2px solid var(--primary);
color: var(--primary);
cursor: pointer;
}
.btn1:hover{
  background-color: var(--primary);
}

.contactBtns{
  display: flex;
  align-items: center;
  justify-content: center;
margin: 25px 0px;
}
/* sec5 */
/* Main */


/* footer */
footer{
  width: 100%;
  padding: 0px 90px;
      color: white;
}
.logo-text{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.bottomLogo{
  width: 150px;
  border-radius: 15px;

}
strong{
  font-size: 30px;
}
hr{
  width: 100%;
  margin: 20px 10px;

}
.footlast{
  width: 100%;
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}
.bottomLink{
  margin: 0px 10px;
}

/* footer*/





